In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [10]:
df = pd.read_csv('../data/train.csv')

In [11]:
def clean_data(data_frame):
    # loop through columns with null data
    columns = [
        'Lot Frontage', 'Alley', 'Mas Vnr Type',
        'Mas Vnr Area', 'Bsmt Qual', 'Bsmt Cond',
        'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
        'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF',
        'Bsmt Unf SF', 'Total Bsmt SF', 'Bsmt Full Bath',
        'Bsmt Half Bath', 'Fireplace Qu', 'Garage Type',
        'Garage Yr Blt', 'Garage Finish', 'Garage Cars',
        'Garage Area', 'Garage Qual', 'Garage Cond',
        'Fence', 'Misc Feature', 'Pool QC'
    ]

    for column in columns:
        if column in [
            'Lot Frontage', 'Mas Vnr Area', 'BsmtFin SF 1',
            'BsmtFin SF 2', 'Bsmt Unf SF', 'Bsmt Unf SF',
            'Total Bsmt SF', 'Bsmt Full Bath', 'Bsmt Half Bath',
            'Garage Cars', 'Garage Area'
        ]:
            data_frame[column].fillna(0, inplace=True)
        elif column in [
            'Alley', 'Mas Vnr Type', 'Bsmt Qual',
            'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1',
            'BsmtFin Type 2', 'Fireplace Qu', 'Garage Type',
            'Garage Finish', 'Garage Qual', 'Garage Cond',
            'Fence', 'Misc Feature', 'Pool QC'
        ]:
            data_frame[column].fillna("NA", inplace=True)
        elif column == 'Garage Yr Blt':
            data_frame[column].fillna("NA", inplace=True)
            data_frame[column] = data_frame[column].map(lambda x: str(x))

clean_data(df)

df.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,0.0,13517,Pave,NA,IR1,Lvl,...,0,0,NA,NA,NA,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NA,IR1,Lvl,...,0,0,NA,NA,NA,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NA,Reg,Lvl,...,0,0,NA,NA,NA,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NA,Reg,Lvl,...,0,0,NA,NA,NA,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NA,IR1,Lvl,...,0,0,NA,NA,NA,0,3,2010,WD,138500

In [41]:
numerical_columns = df.select_dtypes(exclude="object")
numerical_columns.head()

C:\Program Files\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,Id,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Garage Area,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold
0,109,533352170,60,0.0,13517,6,8,1976,2005,289.0,...,475.0,0,44,0,0,0,0,0,3,2010
1,544,531379050,60,43.0,11492,7,5,1996,1997,132.0,...,559.0,0,74,0,0,0,0,0,4,2009
2,153,535304180,20,68.0,7922,5,7,1953,2007,0.0,...,246.0,0,52,0,0,0,0,0,1,2010
3,318,916386060,60,73.0,9802,5,5,2006,2007,0.0,...,400.0,100,0,0,0,0,0,0,4,2010
4,255,906425045,50,82.0,14235,6,8,1900,1993,0.0,...,484.0,0,59,0,0,0,0,0,3,2010

In [62]:
# incorporate
# with Overall Quality
# with Overall Condition


def average_sales_by_column(df,column):
    df[column].dropna(inplace=True)
    group_by = df[[column,"SalePrice"]].groupby(column)
    print(group_by.mean())
    return { "mean": group_by.mean()}

def sum_of_sales_by_column(df,column):
    df[column].dropna(inplace=True)
    group_by = df[[column,"SalePrice"]].groupby(column)
    print(group_by.sum())
    return { "sum": group_by.sum()}

def count_of_sales_by_column(df,column):
    df[column].dropna(inplace=True)
    group_by = df[[column,"SalePrice"]].groupby(column)
    print(group_by.count())
    return { "count": group_by.count()}
    
[average_sales_by_column(df,column) for column in ["Year Built","Year Remod/Add","Yr Sold"]]
[sum_of_sales_by_column(df,column) for column in ["Year Built","Year Remod/Add","Yr Sold"]]
[count_of_sales_by_column(df,column) for column in ["Year Built","Year Remod/Add","Yr Sold"]]

                SalePrice
Year Built
1872        122000.000000
1875         94000.000000
1879        185000.000000
1880        181166.666667
1885        122500.000000
1890        128380.000000
1892        475000.000000
1893        325000.000000
1895        118866.666667
1896         50138.000000
1898        106000.000000
1900        119961.300000
1901        115000.000000
1905        129950.000000
1908        127000.000000
1910        108578.038462
1911        130000.000000
1912        133266.666667
1913         90350.000000
1914        138769.571429
1915        133273.529412
1916        139125.000000
1917        124250.000000
1918        132875.000000
1919        119500.000000
1920        111684.210526
1921        134164.444444
1922         96445.833333
1923        143819.800000
1924        106854.545455
...                   ...
1981        261733.333333
1982        131500.000000
1983        174750.000000
1984        160990.909091
1985        209750.000000
1986        227166.666667
1987        198071.428571
1988        212590.909091
1989        195000.000000
1990        215036.250000
1991        181140.000000
1992        212171.428571
1993        239062.962963
1994        213055.192308
1995        237720.000000
1996        218129.166667
1997        204517.500000
1998        236652.857143
1999        210399.135135
2000        224726.388889
2001        251870.833333
2002        225870.555556
2003        234310.312500
2004        218629.236111
2005        238080.166667
2006        265143.676768
2007        258104.025641
2008        326057.111111
2009        294659.857143
2010        267916.000000

[113 rows x 1 columns]
                    SalePrice
Year Remod/Add
1950            115126.454198
1951            121490.000000
1952            110388.111111
1953            140150.000000
1954            119870.058824
1955            112626.388889
1956            134248.863636
1957            143627.200000
1958            133705.857143
1959            139208.666667
1960            145020.000000
1961            142094.117647
1962            138985.000000
1963            141761.578947
1964            148959.058824
1965            133976.833333
1966            152814.210526
1967            142027.272727
1968            144568.928571
1969            159481.812500
1970            126939.967742
1971            129219.444444
1972            121911.904762
1973            133161.538462
1974            162040.000000
1975            154062.269231
1976            157025.156250
1977            160240.322581
1978            163131.666667
1979            150225.687500
...                       ...
1981            221466.666667
1982            102166.666667
1983            143042.857143
1984            167491.666667
1985            178129.333333
1986            218166.666667
1987            209950.000000
1988            193125.000000
1989            193850.000000
1990            192375.217391
1991            174947.368421
1992            177894.736842
1993            211788.000000
1994            199990.243902
1995            202473.684211
1996            185973.809524
1997            211625.862069
1998            208336.274510
1999            198938.630435
2000            203931.652174
2001            198467.142857
2002            218337.966102
2003            201798.308824
2004            202015.397590
2005            216272.370000
2006            243669.496403
2007            234690.170732
2008            280368.036364
2009            280333.086957
2010            293068.250000

[61 rows x 1 columns]
             SalePrice
Yr Sold
2006     179471.609589
2007     185524.514056
2008     181750.372414
2009     182455.244395
2010     174180.059829
            SalePrice
Year Built
1872           122000
1875            94000
1879           185000
1880           543500
1885           122500
1890           641900
1892           475000
1893           325000
1895           356600
1896            50138
1898           106000
1900          2399226
1901           230000
1905           259900
1908           127000
1910          2823029
1911           130000
1912           399800
1913            90350
1914           971387
1915          2265650
1916          1113000
1917           248500
1918           531500
1919           239000
1920          4244000
1921          1207480
1922          1157350
1923          1438198
1924          1175400
...               ...
1981          1570400
1982           394500
1983          1048500
1984          1770900
1985           839000
1986          2044500
1987          1386500
1988          2338500
1989          1170000
1990          3440580
1991           905700
1992          4455600
1993          6454700
1994          5539435
1995          5943000
1996          5235100
1997          4090350
1998          8282850
1999          7784768
2000          8090150
2001          6044900
2002          8131340
2003         14995860
2004         15741305
2005         24284177
2006         26249224
2007         20132114
2008         11738056
2009          4125238
2010           267916

[113 rows x 1 columns]
                SalePrice
Year Remod/Add
1950             30163131
1951              1214900
1952               993493
1953              2522700
1954              2037791
1955              2027275
1956              2953475
1957              2154408
1958              3743764
1959              2923382
1960              2900400
1961              2415600
1962              2779700
1963              2693470
1964              2532304
1965              2411583
1966              2903470
1967              3124600
1968              4047930
1969              2551709
1970              3935139
1971              2325950
1972              2560150
1973              1731100
1974              1620400
1975              4005619
1976              5024805
1977              4967450
1978              4893950
1979              2403611
...                   ...
1981              1328800
1982               306500
1983              1001300
1984              2009900
1985              1603164
1986              1963500
1987              2519400
1988              2317500
1989              2713900
1990              4424630
1991              3324000
1992              3380000
1993              6989004
1994              8199600
1995              7694000
1996              7810900
1997              6137150
1998             10625150
1999              9151177
2000             14071284
2001              6946350
2002             12881940
2003             13722285
2004             16767278
2005             21627237
2006             33870060
2007             28866891
2008             15420242
2009              6447661
2010              2344546

[61 rows x 1 columns]
         SalePrice
Yr Sold
2006      78608565
2007      92391208
2008      79061412
2009      81375039
2010      40758134
            SalePrice
Year Built
1872                1
1875                1
1879                1
1880                3
1885                1
1890                5
1892                1
1893                1
1895                3
1896                1
1898                1
1900               20
1901                2
1905                2
1908                1
1910               26
1911                1
1912                3
1913                1
1914                7
1915               17
1916                8
1917                2
1918                4
1919                2
1920               38
1921                9
1922               12
1923               10
1924               11
...               ...
1981                6
1982                3
1983                6
1984               11
1985                4
1986                9
1987                7
1988               11
1989                6
1990               16
1991                5
1992               21
1993               27
1994               26
1995               25
1996               24
1997               20
1998               35
1999               37
2000               36
2001               24
2002               36
2003               64
2004               72
2005              102
2006               99
2007               78
2008               36
2009               14
2010                1

[113 rows x 1 columns]
                SalePrice
Year Remod/Add
1950                  262
1951                   10
1952                    9
1953                   18
1954                   17
1955                   18
1956                   22
1957                   15
1958                   28
1959                   21
1960                   20
1961                   17
1962                   20
1963                   19
1964                   17
1965                   18
1966                   19
1967                   22
1968                   28
1969                   16
1970                   31
1971                   18
1972                   21
1973                   13
1974                   10
1975                   26
1976                   32
1977                   31
1978                   30
1979                   16
...                   ...
1981                    6
1982                    3
1983                    7
1984                   12
1985                    9
1986                    9
1987                   12
1988                   12
1989                   14
1990                   23
1991                   19
1992                   19
1993                   33
1994                   41
1995                   38
1996                   42
1997                   29
1998                   51
1999                   46
2000                   69
2001                   35
2002                   59
2003                   68
2004                   83
2005                  100
2006                  139
2007                  123
2008                   55
2009                   23
2010                    8

[61 rows x 1 columns]
         SalePrice
Yr Sold
2006           438
2007           498
2008           435
2009           446
2010           234

[{'count':             SalePrice
  Year Built
  1872                1
  1875                1
  1879                1
  1880                3
  1885                1
  1890                5
  1892                1
  1893                1
  1895                3
  1896                1
  1898                1
  1900               20
  1901                2
  1905                2
  1908                1
  1910               26
  1911                1
  1912                3
  1913                1
  1914                7
  1915               17
  1916                8
  1917                2
  1918                4
  1919                2
  1920               38
  1921                9
  1922               12
  1923               10
  1924               11
  ...               ...
  1981                6
  1982                3
  1983                6
  1984               11
  1985                4
  1986                9
  1987                7
  1988               11
  1989                6
  1990               16
  1991                5
  1992               21
  1993               27
  1994               26
  1995               25
  1996               24
  1997               20
  1998               35
  1999               37
  2000               36
  2001               24
  2002               36
  2003               64
  2004               72
  2005              102
  2006               99
  2007               78
  2008               36
  2009               14
  2010                1

  [113 rows x 1 columns]}, {'count':                 SalePrice
  Year Remod/Add
  1950                  262
  1951                   10
  1952                    9
  1953                   18
  1954                   17
  1955                   18
  1956                   22
  1957                   15
  1958                   28
  1959                   21
  1960                   20
  1961                   17
  1962                   20
  1963                   19
  1964                   17
  1965                   18
  1966                   19
  1967                   22
  1968                   28
  1969                   16
  1970                   31
  1971                   18
  1972                   21
  1973                   13
  1974                   10
  1975                   26
  1976                   32
  1977                   31
  1978                   30
  1979                   16
  ...                   ...
  1981                    6
  1982                    3
  1983                    7
  1984                   12
  1985                    9
  1986                    9
  1987                   12
  1988                   12
  1989                   14
  1990                   23
  1991                   19
  1992                   19
  1993                   33
  1994                   41
  1995                   38
  1996                   42
  1997                   29
  1998                   51
  1999                   46
  2000                   69
  2001                   35
  2002                   59
  2003                   68
  2004                   83
  2005                  100
  2006                  139
  2007                  123
  2008                   55
  2009                   23
  2010                    8

  [61 rows x 1 columns]}, {'count':          SalePrice
  Yr Sold
  2006           438
  2007           498
  2008           435
  2009           446
  2010           234}]